{% extends 'base_store.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('admin_list') }}">Admin</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('company_list') }}">Company</a></li>
        <li class="viewgroup-item active" aria-current="page">Página Atual</li>
    </ol>
</nav>

<section class="section-admin">
    <div class="content">
        <div id="login">
            <h3 class="title"><i class="fa fa-user-lock"> {{ title }}</i></h3>
            <br>
            <form method="POST" action="/update_password">

                {% include 'layout/message_alert.html' %}

                <div>
                    <p>Username : {{ session["amail"] }}</p>
                </div>
                <div>
                    <input type="hidden" name="amail" class="input" value="{{ session['amail'] }}">
                </div>
                <div>
                    <label class="label">Current Password</label>
                    <input type="password" name="apassword" class="input" placeholder="current password" required>
                </div>
                <div class="flex-div">
                    <div class="mright5">
                        <label class="label">New Password</label>
                        <input type="password" name="anewpassword" class="input" placeholder="new password" required>
                    </div>
                    <div>
                        <label class="label">Confirm New Password</label>
                        <input type="password" name="aconfirmnewpassword" class="input"
                            placeholder="confirm new password" required>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="input-submit" value="{{ title }}"
                        onclick="return confirm('Are you sure to edit?')">
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}