{% extends 'base_store.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('admin_list') }}">Admin</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('company_list') }}">Company</a></li>
        <li class="viewgroup-item active" aria-current="page">Página Atual</li>
    </ol>
</nav>

<section class="section-admin">
    <div class="content">
        <div id="login">
            <h3 class="title"><i class="fa fa-user-lock"> {{ title }}</i></h3>
            <br>
            <form method="POST" action="/update_admin">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div>
                    <label class="label">Nome</label>
                    <input type="text" name="aname" class="input" value="{{ response.aname }}" required>
                </div>
                <div>
                    <input type="hidden" name="aid" value="{{ response.aid }}">
                </div>
                <div>
                    <label class="label">Username</label>
                    <input type="email" name="amail" disabled class="input" value="{{ response.amail }}">
                </div>
                <div>
                    <input type="hidden" name="apassword" disabled class="input" value="{{ response.apassword }}">
                </div>
                <div class="flex-div">
                    <div class="mright5">
                        <label class="label">Site *</label>
                        <input type="text" name="sitedata" class="input" value="{{ response.sitedata }}">
                    </div>
                    <div class="mright5">
                        <label class="label">Company *</label>
                        <input type="text" name="companies" class="input" value="{{ response.companies }}">
                    </div>
                    <div class="mright5">
                        <label class="label">Store *</label>
                        <input type="text" name="stores" class="input" value="{{ response.stores }}">
                    </div>
                    <div>
                        <label class="label">Admin *</label>
                        <input type="text" name="admins" class="input" value="{{ response.admins }}">
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="input-submit" value="Update Admin Profile"
                        onclick="return confirm('Are you sure to edit?')">
                </div>
                <div class="text-right">
                    <sub>* 0 = Não Habilitado - 1 = Habilitado</sub>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}