{% extends 'base_store.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('admin_list') }}">Admin</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('company_list') }}">Company</a></li>
        <li class="viewgroup-item active" aria-current="page">Página Atual</li>
    </ol>
</nav>

<section class="section-admin">
    <div class="content">
        <div id="login">
            <h3 class="title"><i class="fa fa-user-lock"> {{ title }}</i></h3>
            <br>
            <form method="POST" action="/update_admin">

                {% include 'layout/message_alert.html' %}

                <div class="flex-row">
                    <div class="flex-col-9">
                        <label class="label">Nome</label>
                        <input type="text" name="aname" class="input" value="{{ response.aname }}" required>
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Ativo</label>
                        <select id="active" class="select" name="active">
                            <option value="{{ response.active }}" class="text-center">{{ response.active }}
                            </option>
                            <option value="1">[1] - SIM</option>
                            <option value="0">[0] - NÃO</option>
                        </select>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-12">
                        <label class="label">Username</label>
                        <input type="email" name="amail" disabled class="input" value="{{ response.amail }}">
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-3">
                        <label class="label">Site</label>
                        <select id="sitedata" class="select" name="sitedata">
                            <option value="{{ response.sitedata }}" class="text-center">{{ response.sitedata }}</option>
                            <option value="1">[1] - SIM</option>
                            <option value="0">[0] - NÃO</option>
                        </select>
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Company</label>
                        <select id="companies" class="select" name="companies">
                            <option value="{{ response.companies }}" class="text-center">{{ response.companies }}
                            </option>
                            <option value="1">[1] - SIM</option>
                            <option value="0">[0] - NÃO</option>
                        </select>
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Store</label>
                        <select id="stores" class="select" name="stores">
                            <option value="{{ response.stores }}" class="text-center">{{ response.stores }}</option>
                            <option value="1">[1] - SIM</option>
                            <option value="0">[0] - NÃO</option>
                        </select>
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Admin</label>
                        <select id="admins" class="select" name="admins">
                            <option value="{{ response.admins }}" class="text-center">{{ response.admins }}</option>
                            <option value="1">[1] - SIM</option>
                            <option value="0">[0] - NÃO</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="input-submit" value="Update Admin Profile"
                        onclick="return confirm('Are you sure to edit?')">
                </div>
                <div>
                    <input type="hidden" name="aid" value="{{ response.aid }}">
                </div>
                <div>
                    <input type="hidden" name="apassword" disabled class="input" value="{{ response.apassword }}">
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}