{% extends 'base_store.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('admin_list') }}">Admin</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('company_list') }}">Company</a></li>
        <li class="viewgroup-item active" aria-current="page">Página Atual</li>
    </ol>
</nav>

<section class="section-admin">
    <div class="content">
        <div id="login">
            <h3 class="title"><i class="fa fa-user-lock"> {{ title }}</i></h3>
            <br>
            <form method="POST" action="">

                {% include 'layout/message_alert.html' %}

                <div class="flex-row">
                    <div class="flex-col-12">
                        <label class="label">Name</label>
                        <input type="text" name="aname" class="input" required>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-12">
                        <label class="label">Username</label>
                        <input type="email" name="amail" class="input" required>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-6">
                        <label class="label">Password</label>
                        <input type="password" name="apassword" class="input" required>
                    </div>
                    <div class="flex-col-6">
                        <label class="label">Confirm Password</label>
                        <input type="password" name="aconfirmpassword" class="input" required>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-3">
                        <label class="label">Site</label>
                        <select id="sitedata" class="select" name="sitedata">
                            <option value="0" class="text-center">NÃO</option>
                            <option value="1">[1] - SIM</option>
                            <option value="0">[0] - NÃO</option>
                        </select>
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Company</label>
                        <select id="companies" class="select" name="companies">
                            <option value="0" class="text-center">NÃO</option>
                            <option value="1">[1] - SIM</option>
                            <option value="0">[0] - NÃO</option>
                        </select>
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Store</label>
                        <select id="stores" class="select" name="stores">
                            <option value="0" class="text-center">NÃO</option>
                            <option value="1">[1] - SIM</option>
                            <option value="0">[0] - NÃO</option>
                        </select>
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Admin</label>
                        <select id="admins" class="select" name="admins">
                            <option value="0" class="text-center">NÃO</option>
                            <option value="1">[1] - SIM</option>
                            <option value="0">[0] - NÃO</option>
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="input-submit" value="Create Admin Profile"
                        onclick="return confirm('Are you sure to create?')">
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}