<section class="contact">
    <div class="center">
        <h1 class="title">Fale Conosco</h1>

        <div class="contact-container">
            <div class="contact-data">
                <p class="bold">E-mail</p>
                <p><a href="https://outlook.live.com/owa/" target="_blank" role="button">email@email.com</a></p>
                <br>
                <p class="bold">Telefone</p>
                <p>31 99999-9999</p>
                <br>
                <p class="bold">Horário de atendimento</p>
                <p>Segunda a Sexta</p>
                <p>08:00 as 18:00</p>
            </div>

            {% include '/pages/form-contact.html' %}

        </div>
    </div>
</section>