<div class="contact-form">
    <h4 class='title'>Contact Form</h4>

    <section class="section-contact">

        <form action="" method="POST">
            <div class="field">
                <label class="label">Nome</label>
                <div>
                    <input name="nome" class="input" type="text" placeholder="Seu nome">
                </div>
            </div>

            <div class="field">
                <label class="label">Email *</label>
                <div>
                    <input name="email" class="input" type="email" placeholder="Seu email">
                </div>
            </div>

            <div class="field">
                <label class="label">Assunto</label>
                <div>
                    <div class="select">
                        <select name="subject">
                            <option>Reportar erro</option>
                            <option>Anúncios</option>
                            <option>Outro</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Mensagem *</label>
                <div>
                    <textarea name="message" class="textarea" rows="5" placeholder="Deixe sua mensagem"
                        maxlength="500"></textarea>
                </div>
            </div>

            <div>
                <input type="submit" class="input-submit" value="Send Contact Form"></input>
            </div>
        </form>

    </section>
</div>