<section class="services">
    <h1 class="title">Preços</h1>

    <div class="services-container">
        <div class="service-card">
            <h5>ALUGUEL POR HORA</h5>
            <p>R$ 5,00<sup>*</sup></p>
            <div class="center">
                <img src="/static/img/bike.png" alt="Bike">
            </div>
            <h6><b>*</b> por hora</h6>
        </div>

        <div class="service-card">
            <h5>ALUGUEL POR DIA</h5>
            <p>R$ 25,00<sup>*</sup></p>
            <div class="center">
                <img src="/static/img/bike.png" alt="Bike">
            </div>
            <h6><b>*</b> por dia</h6>
        </div>

        <div class="service-card">
            <h5>ALUGUEL POR SEMANA</h5>
            <p>R$ 100,00<sup>*</sup></p>
            <div class="center">
                <img src="/static/img/bike.png" alt="Bike">
            </div>
            <h6><b>*</b> por semana</h6>
        </div>
    </div>
</section>