{% extends 'base_store.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('company_list') }}">Company</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('store_list') }}">Store</a></li>
        <li class="viewgroup-item active" aria-current="page">Página Atual</li>
    </ol>
</nav>

<section class="section-list">
    <div>
        <h3 class="title"><i class="fa fa-users"> {{ title }}</i></h3>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="flex-between">
            <div class="flex-col-1">
                <label class="label">Company</label>
            </div>
            <div class="flex-col-9">
                <select id="tipo" class="select" name="id_company">
                    <option value='0'>ESCOLHA UMA EMPRESA</option>
                    {% for row in companies %}
                    <option id="escolha" value="{{row['id']}}">{{[row['nome'],row['cidade'],row['uf']]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div><a href="{{ url_for('store_register') }}" class="input-submit">Add New Store</a>
            </div>
        </div>

        <div class="table-content">
            <table class="table table-hover">
                <thead class="thead">
                    <tr class="text-center">
                        <th class="bold">ID</th>
                        <th class="bold">Name</th>
                        <th class="bold">Mail</th>
                        <th class="bold">Phone1</th>
                        <th class="bold">Address</th>
                        <th class="bold">City</th>
                        <th class="bold">State</th>
                        <th class="bold">Edit</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    {% for row in response %}
                    {% if (row['c.id']) == company %}
                    <tr class="text-center">
                        <td>{{ row.id }}</td>
                        <td>{{ row.nome }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.telefone1 }}</td>
                        <td>{{ row.endereco }}</td>
                        <td>{{ row.cidade }}</td>
                        <td>{{ row.uf }}</td>
                        <td><a href="{{ url_for('store_edit', id=row['id']) }}" class="input-edit"
                                onclick="return confirm('Are you sure to edit?')"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </div>
</section>

{% endblock %}