{% extends 'base_bootstrap.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('company_list') }}">Company</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('store_list') }}">Store</a></li>
        <li class="viewgroup-item active" aria-current="page">Store List</li>
    </ol>
</nav>

<section class="section-list">
    <div>
        <h3 class="title"><i class="fa fa-bars"> {{ title }}</i></h3>

        {% include 'layout/message_alert.html' %}

        <div class="flex-row">
            <div class="dropdown flex-col-2">
                <a class="" href="{{ url_for('store_list') }}">
                    All Stores
                </a>
            </div>
            <div class="dropdown flex-col-7">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Companies <a href="{{ url_for('company_list') }}"><button class="btn btn-sm ml-2">+</button></a>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for row in companies %}
                    <a class="dropdown-item"
                        href="{{ url_for('company_store_select', id=row['c.id']) }}">{{row['c.nome']}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="flex-col-3 text-right"><a href="{{ url_for('store_register') }}" class="input-submit">
                    Add New Store</a>
            </div>
        </div><br>

        <div class="table-content">
            <table class="table table-hover table-sm">
                <thead class="thead">
                    <tr class="text-center">
                        <th class="bold">ID</th>
                        <th class="bold">Name</th>
                        <th class="bold">Mail</th>
                        <th class="bold">Phone1</th>
                        <th class="bold">Address</th>
                        <th class="bold">City</th>
                        <th class="bold">State</th>
                        <th class="bold">Edit</th>
                        <th class="bold">Del</th>
                    </tr>
                </thead>
                <tbody class="tbody text-center">
                    {% if company %}
                    {% for row in company %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.nome }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.telefone1 }}</td>
                        <td>{{ row.endereco }}</td>
                        <td>{{ row.cidade }}</td>
                        <td>{{ row.uf }}</td>
                        <td><a href="{{ url_for('store_edit', id=row['id']) }}" class="input-edit"
                                onclick="return confirm('Are you sure to edit?')"><i class="fa fa-edit"></i></a>
                        </td>
                        <td><a href="{{ url_for('delete_stores', id=row['id']) }}" class="input-delete"
                                onclick="return confirm('Are you sure to delete?')"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    {% for row in response %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.nome }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.telefone1 }}</td>
                        <td>{{ row.endereco }}</td>
                        <td>{{ row.cidade }}</td>
                        <td>{{ row.uf }}</td>
                        <td><a href="{{ url_for('store_edit', id=row['id']) }}" class="input-edit"
                                onclick="return confirm('Are you sure to edit?')"><i class="fa fa-edit"></i></a>
                        </td>
                        <td><a href="{{ url_for('delete_stores', id=row['id']) }}" class="input-delete"
                                onclick="return confirm('Are you sure to delete?')"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <br>
    </div>
</section>

{% block script %}
<script src="{{ url_for('static', filename = 'js/search/search_store.js') }}"></script>
{% endblock %}

{% endblock %}