<div class="tab-dados" id="tab-dados1">
    <br>

    <div class="flex-row">
        <div class="flex-col-4">
            {{ form.nome.label (class="label") }}
            {{ form.nome (class="input") }}
        </div>
        <div class="flex-col-8">
            {{ form.descricao.label (class="label") }}
            {{ form.descricao (class="input") }}
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-col-2">
            {{ form.un.label (class="label") }}
            {{ form.un (class="input") }}
        </div>
        <div class="flex-col-3">
            {{ form.cor.label (class="label") }}
            {{ form.cor (class="input") }}
        </div>
        <div class="flex-col-3">
            {{ form.tamanho.label(class="label") }}
            {{ form.tamanho(class="input") }}
        </div>
        <div class="flex-col-4">
            {{ form.classificacao.label(class="label") }}
            {{ form.classificacao(class="select") }}
        </div>
    </div>

</div>

<div class="tab-dados" id="tab-dados2">
    <br>

    <div class="flex-row">
        <div class="flex-col-2">
            {{ form.pesoliquido.label (class="label") }}
            {{ form.pesoliquido (class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.pesobruto.label (class="label") }}
            {{ form.pesobruto (class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.altura.label(class="label") }}
            {{ form.altura(class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.largura.label(class="label") }}
            {{ form.largura(class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.comprimento.label(class="label") }}
            {{ form.comprimento(class="input") }}
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-col-2">
            {{ form.estoqueminino.label (class="label") }}
            {{ form.estoqueminino (class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.estoquemaximo.label (class="label") }}
            {{ form.estoquemaximo (class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.leadtime.label(class="label") }}
            {{ form.leadtime(class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.loteminino.label(class="label") }}
            {{ form.loteminino(class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.lotemaximo.label(class="label") }}
            {{ form.lotemaximo(class="input") }}
        </div>
    </div>

</div>

<div class="tab-dados" id="tab-dados3">
    <br>

    <div class="flex-row">
        <div class="flex-col-3">
            {{ form.grupo.label (class="label") }}
            {{ form.grupo (class="input") }}
        </div>
        <div class="flex-col-3">
            {{ form.subgrupo.label (class="label") }}
            {{ form.subgrupo (class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.codigointerno.label (class="label") }}
            {{ form.codigointerno (class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.ativo.label(class="label") }}
            {{ form.ativo(class="select") }}
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-col-3">
            {{ form.ean.label (class="label") }}
            {{ form.ean (class="input") }}
        </div>
        <div class="flex-col-3">
            {{ form.dun.label (class="label") }}
            {{ form.dun (class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.ncm.label (class="label") }}
            {{ form.ncm (class="input") }}
        </div>
        <div class="flex-col-2">
            {{ form.cest.label (class="label") }}
            {{ form.cest (class="input") }}
        </div>
    </div>

</div>