<div class="flex-row">
    <div class="flex-col-5">
        {{ form.nome.label (class="label") }}
        {{ form.nome (class="input") }}
    </div>
    <div class="flex-col-7">
        {{ form.razaosocial.label (class="label") }}
        {{ form.razaosocial (class="input") }}
    </div>
</div>

<div class="flex-row">
    <div class="flex-col-6">
        {{ form.email.label (class="label") }}
        {{ form.email (class="input") }}
    </div>
    <div class="flex-col-3">
        {{ form.telefone1.label (class="label") }}
        {{ form.telefone1 (class="input") }}
    </div>
    <div class="flex-col-3">
        {{ form.telefone2.label (class="label") }}
        {{ form.telefone2 (class="input") }}
    </div>
</div>

<div class="flex-row">
    <div class="flex-col-3">
        {{ form.cnpj.label (class="label") }}
        {{ form.cnpj (class="input") }}
    </div>
    <div class="flex-col-3">
        {{ form.inscest.label (class="label") }}
        {{ form.inscest (class="input") }}
    </div>
    <div class="flex-col-3">
        {{ form.cpf.label (class="label") }}
        {{ form.cpf (class="input") }}
    </div>
    <div class="flex-col-3">
        {{ form.rg.label (class="label") }}
        {{ form.rg (class="input") }}
    </div>
</div>

<div class="flex-row">
    <div class="flex-col-9">
        {{ form.endereco.label (class="label") }}
        {{ form.endereco (class="input") }}
    </div>
    <div class="flex-col-3">
        {{ form.numero.label (class="label") }}
        {{ form.numero (class="input") }}
    </div>
</div>

<div class="flex-row">
    <div class="flex-col-3">
        {{ form.complemento.label (class="label") }}
        {{ form.complemento (class="input") }}
    </div>
    <div class="flex-col-6">
        {{ form.bairro.label (class="label") }}
        {{ form.bairro (class="input") }}
    </div>
    <div class="flex-col-3">
        {{ form.cep.label (class="label") }}
        {{ form.cep (class="input") }}
    </div>
</div>

<div class="flex-row">
    <div class="flex-col-9">
        {{ form.cidade.label (class="label") }}
        {{ form.cidade (class="input") }}
    </div>
    <div class="flex-col-3">
        {{ form.uf.label(class="label") }}
        {{ form.uf(class="select") }}
    </div>
</div>