@import url(./root.css);


@media (max-width: 900px) {
    .wrapper .main-container {
        width: calc(100% - 70px);
        margin-left: 70px;
    }

    .sidebar-btn {
        display: none;
    }

    .wrapper .sidebar {
        width: 70px;
        padding-top: 50px;
    }

    .wrapper .sidebar .profile img,
    .wrapper .sidebar .profile p,
    .wrapper .sidebar a span,
    .wrapper .sidebar #data-local {
        display: none;
    }

    .wrapper .sidebar .sidebar-menu .sidebar-menu-item .store-menu-btn {
        font-size: 1.5em;
    }

    .wrapper .sidebar .sidebar-menu .sidebar-menu-item .sub-menu i {
        font-size: 1.2em;
        padding-left: 3px;
    }

}


@media (max-width: 700px) {
    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background: rgba(1, 1, 1, 0.5);
    }

    .navbar-links .navbar-menu a {
        width: 100%;
        height: 55px;
        color: var(--green1);
        margin: 0px;
        padding-top: 15px;
        font-size: 1.2em;
        text-align: center;
    }

    .navbar-links .navbar-menu a:before {
        transition: 0s ease;
    }

    .navbar-links .navbar-menu a:hover {
        background: var(--green2);
        color: var(--green7);
    }

    .navbar-links.active .navbar-menu {
        background: var(--green6);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn {
        background: url('/static/img/icons/ic-menu.png') no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        margin-right: 30px;
    }

    .menu-btn.active {
        z-index: 999;
        background: url('/static/img/icons/ic-close.png') no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

    .about,
    .contact {
        margin-top: 60px;
        padding: 50px;
        overflow-y: hidden;
    }

    .img-about {
        width: 256px;
        height: 183px;
    }

    .table-content {
        position: absolute;
        padding-right: 20px;
    }

    .search-content {
        padding-right: 20px;
    }

    .flex-col {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-1 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-2 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-3 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-4 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-5 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-6 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-7 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-8 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-9 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-10 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-11 {
        flex: 0 0 auto;
        width: 100%;
    }

    .flex-col-12 {
        flex: 0 0 auto;
        width: 100%;
    }

}


@media (max-width: 600px) {
    .contact-data {
        margin-bottom: 35px;
    }

    .flex-div {
        display: inline;
    }

    .flex-div .mright5 {
        margin-right: 0;
    }

    .section-contact {
        min-width: 90%;
        padding: 15px;
    }

    span .input-submit {
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }

}


@media (max-width: 350px) {
    .navbar-logo {
        width: 180px;
    }

    .center {
        padding: 0 0;
    }

    .about {
        padding: 50px 0;
    }

    .img-about {
        width: 192px;
        height: 137px;
    }

    .section-contact {
        padding: 30px 15px;
    }

    .select select {
        width: 230px;
    }

    .wrapper .header-navbar .header-navbar-menu {
        padding: 0 10px;
    }

    .wrapper .header-navbar .header-navbar-menu .header-navbar-title {
        font-size: 1.2em;
    }

    .wrapper .header-navbar .header-navbar-menu ul li a {
        margin: 0 5px;
        font-size: 1em;
        width: 28px;
        height: 28px;
        line-height: 28px;
    }

    .wrapper .main-container {
        width: calc(100% - 50px);
        margin-left: 50px;
    }

    .wrapper .sidebar {
        width: 50px;
        padding-top: 20px;
    }

    .wrapper .sidebar .sidebar-menu .sidebar-menu-item .store-menu-btn {
        padding: 10px 15px;
    }

    .wrapper .sidebar .sidebar-menu .sidebar-menu-item .store-menu-btn {
        font-size: 1.2em;
    }

    .wrapper .sidebar .sidebar-menu .sidebar-menu-item .sub-menu i {
        font-size: 1em;
        padding-left: 1px;
    }

    .wrapper .sidebar .sidebar-menu .sidebar-menu-item .sub-menu a {
        padding: 10px 15px;
    }

}