@import url(./root.css);


@media (max-width: 700px) {

    .about,
    .contact {
        margin-top: 60px;
        padding: 50px;
        overflow-y: hidden;
    }

    .img-about {
        width: 256px;
        height: 183px;
    }
}

@media (max-width: 600px) {
    .navbar {
        height: 80px;
    }

    .navbar-menu {
        flex-direction: column;
        margin-right: 0px;
        max-width: 120px;
    }

    .navbar-menu a {
        padding-bottom: 5px;
    }

    .contact-data {
        margin-bottom: 35px;
    }

    .flex-div {
        display: inline;
    }

    .flex-div .mright5 {
        margin-right: 0;
    }

}

@media (max-width: 350px) {
    .navbar-logo {
        width: 180px;
    }

    .navbar-logo img {
        margin-left: 10px;
    }

    .img-about {
        width: 192px;
        height: 137px;
    }

    .section-contact {
        padding: 30px 15px;
    }

    .select select {
        width: 230px;
    }

}