:root {
    --green1: #024053;
    --green2: #136B69;
    --green3: #2A836B;
    --green4: #499C70;
    --green5: #6EB47D;
    --green6: #9DCC9B;
    --green7: #D5E4CF;
    --red1: #842029;
    --red2: #dc3545;
    --red3: #f5c2c7;
    --orange1: #E65100;
    --orange2: #F57C00;
    --orange3: #FF9800;
    --orange4: #FFB74D;
    --orange5: #FFCC80;
    --light: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2.1em;
}

h4 {
    font-size: 1.8em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
}

header nav a {
    color: var(--green7);
    font-size: 1.2em;
}

header nav a:hover {
    color: var(--green6);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: var(--green2);
}

form div {
    margin-bottom: 15px;
}

button,
input,
select,
textarea {
    margin: 0;
}

input[type="email"]:disabled,
input[type="password"]:disabled {
    background-color: var(--green7);
    color: var(--green1);
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}