@import url(./root.css);


.center {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: 800;
}

.title {
    color: var(--green1);
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}

.title:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

.flex-div {
    display: flex;
    justify-content: space-between;
}

.flex-div .mright5 {
    margin-right: 5px;
}


/* ############################################################################ */

.navbar {
    z-index: 1;
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    background-color: var(--green2);
    color: var(--green7);
    height: 60px;
    display: flex;
    align-items: center;
}

.navbar-container {
    max-width: 992px;
    margin: auto;
    width: 100%;
    display: flex;
}

.navbar .navbar-container {
    justify-content: space-between;
}

.navbar-logo {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: var(--light);
    border-radius: 50%;
    padding: 3px;
    width: 40px;
    height: 40px;
}

.navbar-logo img {
    margin-right: 10px;
}

.navbar-menu {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}


/* ############################################################################ */

.footer-table {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 0%);
    display: flex;
}

.redes-socials-icons a {
    font-size: 1.5em;
    color: var(--green7);
    padding-right: 10px;
}

.redes-socials-icons a:hover {
    color: var(--light);
}

#copyright {
    color: var(--green7);
    margin-top: 5px;
    text-align: center;
}


/* ############################################################################ */

.slide-show {
    margin-top: 60px;
}

.home {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15px;
}

.home img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home {
    padding-bottom: 10px;
}

.banner-container {
    margin: 0;
    width: 0 auto;
    height: 500px;
    position: relative;
}

.banner-single {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
}

.overlay {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner-container div h5 {
    z-index: 0;
    width: 93%;
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#txtHome {
    color: var(--green1);
}

.banner-container div h5 {
    color: var(--header);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.slide1 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 100%), url(/static/img/slides/slide1.jpg);
}

.slide2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 100%), url(/static/img/slides/slide2.jpg);
}

.slide3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 100%), url(/static/img/slides/slide3.jpg);
}


/* ############################################################################ */

.about {
    padding: 100px 0;
}

#txtAbout {
    margin: 30px 0;
    line-height: 30px;
    text-align: center;
    padding: 10px 0;
    color: var(--green1);
}

.img-about {
    width: 512px;
    height: 365px;
}


/* ############################################################################ */

.services {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.services-container {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    min-height: 200px;
    margin: 20px 10px;
    padding: 25px 10px;
    border: 2px solid var(--green2);
    border-radius: 20px;
    box-shadow: inset 0 0 1em var(--green6), 0 0 1em var(--green2);
}

.service-card img {
    width: 100px;
    height: 100px;
}

.service-card p {
    font-size: 2.5em;
    font-weight: bold;
}

.service-card p b {
    font-size: 0.5em;
    font-weight: bold;
}


/* ########################################################### */

.contact {
    padding: 100px 0 50px 0;
}

.contact-container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contact-data p {
    padding-bottom: 15px;
}

.section-contact {
    min-width: 600px;
    padding: 30px;
}

.field p {
    margin-top: 5px;
    font-size: 0.9em;
    color: var(--green3);
}


/* ########################################################### */

button,
input,
select,
textarea {
    margin: 0;
}

.field:not(:last-child) {
    margin-bottom: 0.75em;
}

.label {
    color: var(--green1);
    display: block;
    font-size: 1em;
    font-weight: 700;
}

.label:not(:last-child) {
    margin-bottom: 0.5em;
}

.input,
.textarea,
.select select {
    background-color: var(--light);
    border-color: var(--green2);
    border-radius: 4px;
    color: var(--green1);
    font-size: 1em;
    padding: calc(0.6em - 1px);
}

input[type="email"]:disabled,
input[type="password"]:disabled {
    background-color: var(--green7);
    color: var(--green1);
}

.input,
.textarea {
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    max-width: 100%;
    width: 100%;
}

.textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    resize: none;
}

.select {
    position: relative;
    vertical-align: top;
}

.select select {
    cursor: pointer;
    display: block;
    width: 100%;
    outline: none;
}

.input-submit {
    background-color: var(--green1);
    border-color: var(--green2);
    border-radius: 4px;
    color: var(--green7);
    font-size: 1em;
    padding: calc(0.6em - 1px);
}

.input-submit:hover {
    background-color: var(--green5);
    color: var(--green1);
}

.input-edit {
    background-color: var(--orange2);
    border-color: var(--orange5);
    border-radius: 4px;
    color: var(--orange5);
    font-size: 0.8em;
    padding: calc(0.4em - 1px);
}

.input-edit:hover {
    background-color: var(--orange5);
    color: var(--orange2);
}

.input-delete {
    background-color: var(--red1);
    border-color: var(--red3);
    border-radius: 4px;
    color: var(--red3);
    font-size: 0.8em;
    padding: calc(0.4em - 1px);
}

.input-delete:hover {
    background-color: var(--red3);
    color: var(--red1);
}


/* ########################################################### */

.section-admin {
    display: flex;
    justify-content: center;
    margin: 120px 0 40px 0;
    padding: 20px;
}

.content {
    width: 500px;
    margin: 0 10px;
    position: relative;
}

form div {
    margin-bottom: 15px;
}

#register,
#login {
    top: 0px;
    width: 100%;
    padding: 18px 6% 10px 6%;
    margin: 0 0 30px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 5px;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}


/* ########################################################### */

.section-list {
    min-height: 600px;
    margin: 30px 20px;
    padding: 70px 0;
}