{% extends 'base_bootstrap.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('product_list') }}">Product</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('product_list') }}">Sales</a></li>
        <li class="viewgroup-item active" aria-current="page">Product List</li>
    </ol>
</nav>

<section class="section-list">
    <div>
        <h3 class="title"><i class="fa fa-bars"> {{ title }}</i></h3>

        {% include 'layout/message_alert.html' %}

        <div class="flex-row">
            <div class="dropdown flex-col-2">
                <a class="" href="{{ url_for('product_list') }}">
                    All Products
                </a>
            </div>
            <div class="dropdown flex-col-2">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Brands <a href="{{ url_for('brand_register') }}"><button class="btn btn-sm ml-2">+</button></a>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for row in brands %}
                    <a class="dropdown-item"
                        href="{{ url_for('brand_select', id=row['b.id']) }}">{{row['b.description']}}</a>
                    {% endfor %}
                </div>
                <div></div>
            </div>
            <div class="dropdown flex-col-2">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Categories <a href="{{ url_for('category_register') }}"><button class="btn btn-sm ml-2">+</button></a>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for row in categories %}
                    <a class="dropdown-item"
                        href="{{ url_for('category_select', id=row['c.id']) }}">{{row['c.description']}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown flex-col-2">
                <a class="" href="#" tabindex="-1">Carrinho({{ session['Carrinho'] }})</a>
            </div>
            <div class="flex-col-3 text-right"><a href="{{ url_for('product_register') }}" class="input-submit">
                    Add New Product</a>
            </div>
        </div><br>

        <div class="table-content">
            <table class="table table-hover table-sm">
                <thead class="thead">
                    <tr class="text-center">
                        <th class="bold">ID</th>
                        <th class="bold">Nome</th>
                        <th class="bold">Descrição</th>
                        <th class="bold">Preço</th>
                        <th class="bold">Desconto</th>
                        <th class="bold">Estoque</th>
                        <th class="bold">Cores</th>
                        <th class="bold">Adicionar Carrinho</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    {% if brand %}
                    {% for row in brand %}
                    <tr class="text-center">
                        <td>{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.description }}</td>
                        <td>{{ row.price }}</td>
                        <td>{{ row.discount }}</td>
                        <td>{{ row.stock }}</td>
                        <td>{{ row.colors }}</td>
                        <td><a href="" class="input-edit" onclick="return confirm('Are you sure to edit?')"><i
                                    class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% elif category %}
                    {% for row in category %}
                    <tr class="text-center">
                        <td>{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.description }}</td>
                        <td>{{ row.price }}</td>
                        <td>{{ row.discount }}</td>
                        <td>{{ row.stock }}</td>
                        <td>{{ row.colors }}</td>
                        <td><a href="" class="input-edit" onclick="return confirm('Are you sure to edit?')"><i
                                    class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    {% for row in response %}
                    <tr class="text-center">
                        <td>{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.description }}</td>
                        <td>{{ row.price }}</td>
                        <td>{{ row.discount }}</td>
                        <td>{{ row.stock }}</td>
                        <td>{{ row.colors }}</td>
                        <td><a href="" class="input-edit" onclick="return confirm('Are you sure to edit?')"><i
                                    class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <nav aria-label="navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                {% if prev >= 1 %}
                                <a class="page-link" href="/product_list/page/{{ prev }}" tabindex="-1">Prev</a>
                                {% endif %}
                            </li>
                            {% for page in range(page) %}
                            <li class="page-item"><a class="page-link" href="/product_list/page/{{ loop.index }}">{{
                                    loop.index }}</a></li>
                            {% endfor %}
                            <li class="page-item">
                                {% if page >= next %}
                                <a class="page-link" href="/product_list/page/{{ next }}">Next</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}