{% extends 'base_store.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('item_list') }}">Item</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('item_list') }}">Sales</a></li>
        <li class="viewgroup-item active" aria-current="page">Item List</li>
    </ol>
</nav>

<section class="section-list">
    <div>
        <h3 class="title"><i class="fa fa-bars"> {{ title }}</i></h3>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="flex-between">
            <div class="flex-col-1">
                <label class="label">Company</label>
            </div>
            <div class="flex-col-9">
                <select name="search_filter" id="search_filter" class="select">
                    <option value="">Escolha uma Empresa</option>';
                    {% for row in companies %}
                    <option id="escolha" value="{{row['id']}}">{{[row['id'],row['nome'],row['cidade'],row['uf']]}}
                    </option>
                    {% endfor %}
                </select>
                <input type="hidden" name="hidden_value" id="hidden_value" />
            </div>
            <div><a href="{{ url_for('item_register') }}" class="input-submit">Add New Item</a>
            </div>
        </div>

        <div class="table-content">
            <table class="table table-hover">
                <thead class="thead">

                </thead>
                <tbody class="tbody">

                </tbody>
            </table>
        </div>

        <br>
    </div>
</section>

{% block script %}
<script src="{{ url_for('static', filename = 'js/search/search_item.js') }}"></script>
{% endblock %}

{% endblock %}