{% extends 'base_store.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('client_list') }}">Client</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('client_list') }}">Sales</a></li>
        <li class="viewgroup-item active" aria-current="page">Client Register</li>
    </ol>
</nav>

<section class="section-company">
    <div class="content-company">
        <h3 class="title"><i class="fa fa-briefcase"> {{ title }}</i></h3>
        <br>
        <form method="POST" action="/create_client">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="flex-row">
                <div class="flex-col-3">
                    {{ form.tipo.label(class="label") }}
                    {{ form.tipo(class="select") }}
                </div>
                <div class="flex-col-6">
                    <label class="label">Company</label>
                    <select id="tipo" class="select" name="id_company">
                        <option value='1'>ESCOLHA UMA EMPRESA</option>
                        {% for row in response %}
                        <option value="{{row['id']}}">{{row['nome'],row['cidade'],row['uf']}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class=" flex-col-3 text-right">
                    <input type="submit" class="input-submit" value="Create New Client"
                        onclick="return confirm('Are you sure to create?')">
                </div>
            </div>

            <div class="flex-row">
                <div class="flex-col">
                    {{ form.grupo.label (class="label") }}
                    {{ form.grupo (class="input") }}
                </div>
                <div class="flex-col">
                    {{ form.subgrupo.label (class="label") }}
                    {{ form.subgrupo (class="input") }}
                </div>
            </div>

            {% include 'layout/form/form_people_register.html' %}

        </form>
    </div>
</section>

{% endblock %}