{% extends 'base.html' %}
{% block container %}

<section class="section-admin">
    <div class="content">
        <div id="login">
            <h2 class="title"><i class="fa fa-user-lock"> {{ title }}</i></h2>
            <br>
            <form method="post" action="{{ url_for('send_message_passforgot') }}">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div>
                    <label class="label">Username</label>
                    <input type="email" name="amail" class="input" placeholder="username" required>
                </div>
                <div class="center">
                    <input type="submit" class="input-submit" value="Forgot Password">
                </div>
                <br><br>
                <div class="center">
                    <div>Back Login? <a href="{{ url_for('admin') }}" class="input-submit">Click
                            Here</a></div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}