{% extends 'base.html' %}
{% block container %}

<section class="section-admin">
    <div class="content">
        <div id="login">
            <h3 class="title"><i class="fa fa-user"> {{ title }}</i></h3>
            <br>
            <form method="POST" action="">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div>
                    <label class="label">Username</label>
                    <input type="email" name="amail" class="input" placeholder="email" required />
                </div>
                <div>
                    <label class="label">Password</label>
                    <input type="password" name="apassword" class="input" placeholder="password" required />
                </div>
                <div class="text-center">
                    <input type="submit" name="alogin" class="input-submit" value="Sign In" />
                </div>
                <div class="text-center">
                    <div>Forgot Your Password? <span><a href="{{ url_for('admin_passforgot') }}"
                                class="input-submit">Click Here</a></span></div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}