{% extends 'base.html' %}

{% block container %}

<section class="section-list">
    <div class="">
        <div class="">
            <h2 class="title"><i class="fa fa-users"> {{ title }}</i></h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="bold">S.No</th>
                        <th class="bold">ID</th>
                        <th class="bold">Name</th>
                        <th class="bold">Mail</th>
                        <th class="center bold">Sitedata</th>
                        <th class="center bold">Companies</th>
                        <th class="center bold">Stores</th>
                        <th class="center bold">Admins</th>
                        <th class="center bold">Edit</th>
                        <th class="center bold">Del</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in res %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ data.aid }}</td>
                        <td>{{ data.aname }}</td>
                        <td>{{ data.amail }}</td>
                        <td class="center">{{ data.sitedata }}</td>
                        <td class="center">{{ data.companies }}</td>
                        <td class="center">{{ data.stores }}</td>
                        <td class="center">{{ data.admins }}</td>
                        <td class="center"><a href="{{ url_for('admin_profile', id=data['aid']) }}" class="input-edit"
                                onclick="return confirm('Are you sure to edit?')"><i class="fa fa-edit"></i></a></td>
                        <td class="center"><a href="{{ url_for('delete_admins', id=data['aid']) }}" class="input-delete"
                                onclick="return confirm('Are you sure to delete?')"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <p>Admin : {{ session["aname"] }}</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}