{% extends 'base.html' %}
{% block container %}

<section class="section-admin">
    <div class="content">
        <div id="login">
            <h3 class="title"><i class="fa fa-user-lock"> {{ title }}</i></h3>
            <br>
            <form method="POST" action="/redefine_password">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div>
                    <label class="label">Username</label>
                    <input type="email" name="amail" class="input" placeholder="username" required>
                </div>
                <div>
                    <label class="label">Verification Code</label>
                    <input type="text" name="acode" class="input" placeholder="verification code" required>
                </div>
                <div class="flex-div">
                    <div class="mright5">
                        <label class="label">New Password</label>
                        <input type="password" name="anewpassword" class="input" placeholder="new password" required>
                    </div>
                    <div>
                        <label class="label">Confirm New Password</label>
                        <input type="password" name="aconfirmnewpassword" class="input"
                            placeholder="confirm new password" required>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="input-submit" value="{{ title }}">
                </div>
                <div class="text-center">
                    <div>Dont have the verification code? <span><a href="{{ url_for('admin_pass_forgot') }}"
                                class="input-edit">Click Here</a></span></div>
                </div>
                <div class="text-center">
                    <div>Login? <a href="{{ url_for('admin') }}" class="input-submit">Click Here</a></div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}