{% extends 'base_store.html' %}
{% block container %}

<section class="section-company">
    <div class="content-company">
        <div id="">
            <h3 class="title"><i class="fa fa-briefcase"> {{ title }}</i></h3>
            <br>
            <form method="POST" action="/update_company">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}


                <div class="flex-row">

                    <div class="flex-col-3">
                        <label class="label">Tipo</label>
                        <select id="tipo" class="select" name="tipo">
                            <option value="{{ res.tipo }}">{{ res.tipo }}</option>
                            <option value="JURIDICA">Jurídica</option>
                            <option value="FISICA">Física</option>
                        </select>
                    </div>

                    <div class="flex-col-9 text-right">
                        <input type="submit" class="input-submit" value="Edit Company"
                            onclick="return confirm('Are you sure to create?')">
                    </div>
                </div>

                <div>
                    <input type="hidden" name="id" value="{{ res.id }}">
                </div>

                <div class="flex-row">
                    <div class="flex-col">
                        <label class="label">Nome</label>
                        <input type="text" name="nome" class="input" value="{{ res.nome }}" maxlength="50" required>
                    </div>
                    <div class="flex-col">
                        <label class="label">Razão Social</label>
                        <input type="text" name="razaosocial" class="input" value="{{ res.razaosocial }}"
                            maxlength="150">
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-6">
                        <label class="label">Email</label>
                        <input type="email" name="email" class="input" value="{{ res.email }}" maxlength="50" required>
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Telefone 1</label>
                        <input type="text" name="telefone1" class="input" value="{{ res.telefone1 }}" maxlength="15">
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Telefone 2</label>
                        <input type="text" name="telefone2" class="input" value="{{ res.telefone2 }}" maxlength="15">
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-3">
                        <label class="label">CNPJ</label>
                        <input type="text" name="cnpj" class="input" value="{{ res.cnpj }}" maxlength="20">
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Insc. Est</label>
                        <input type="text" name="inscest" class="input" value="{{ res.inscest }}" maxlength="20">
                    </div>
                    <div class="flex-col-3">
                        <label class="label">CPF</label>
                        <input type="text" name="cpf" class="input" value="{{ res.cpf }}" maxlength="11">
                    </div>
                    <div class="flex-col-3">
                        <label class="label">RG</label>
                        <input type="text" name="rg" class="input" value="{{ res.rg }}" maxlength="11">
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-9">
                        <label class="label">Endereço</label>
                        <input type="text" name="endereco" class="input" value="{{ res.endereco }}" maxlength="100">
                    </div>
                    <div class="flex-col-3">
                        <label class="label">Número</label>
                        <input type="text" name="numero" class="input" value="{{ res.numero }}" maxlength="10">
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-3">
                        <label class="label">Complemento</label>
                        <input type="text" name="complemento" class="input" value="{{ res.complemento }}"
                            maxlength="20">
                    </div>
                    <div class="flex-col-6">
                        <label class="label">Bairro</label>
                        <input type="text" name="bairro" class="input" value="{{ res.bairro }}" maxlength="50">
                    </div>
                    <div class="flex-col-3">
                        <label class="label">CEP</label>
                        <input type="text" name="cep" class="input" value="{{ res.cep }}" maxlength="8">
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col-9">
                        <label class="label">Cidade</label>
                        <input type="text" name="cidade" class="input" value="{{ res.cidade }}" maxlength="50">
                    </div>
                    <div class="flex-col-3">
                        <label class="label">UF</label>
                        <select id="estado" class="select" name="uf">
                            <option value="{{ res.uf }}">{{ res.uf }}</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}