{% extends 'base_store.html' %}
{% block container %}

<section class="section-list">
    <div>
        <div>
            <h3 class="title"><i class="fa fa-users"> {{ title }}</i></h3>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="flex-between">
                <div></div>
                <div><a href="{{ url_for('company_register') }}" class="input-submit">Add New Company</a></div>
            </div>

            <div class="search-table">
                <div class="search-box">
                    <input type="text" name="search_text" id="search_text" class="input"
                        placeholder="Search Fields: Name, Mail, Phone1">
                </div>
                <div id="result"></div>
            </div>
            <br>


        </div>
    </div>
</section>

{% endblock %}