<p>{{ numrows }} Records Found</p>
<div class="search-content">
    <table class="table table-hover">
        <thead class="thead">
            <tr class="text-center">
                <th class="bold">ID</th>
                <th class="bold">Name</th>
                <th class="bold">Company Name</th>
                <th class="bold">Phone2</th>
                <th class="bold">CNPJ</th>
                <th class="bold">InscEst</th>
                <th class="bold">CPF</th>
                <th class="bold">RG</th>
            </tr>
        </thead>
        <tbody class="tbody">
            {% for row in response %}
            <tr class="text-center">
                <td>{{ row.id }}</td>
                <td>{{ row.nome }}</td>
                <td>{{ row.razaosocial }}</td>
                <td>{{ row.telefone2 }}</td>
                <td>{{ row.cnpj }}</td>
                <td>{{ row.inscest }}</td>
                <td>{{ row.cpf }}</td>
                <td>{{ row.rg }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-content">
    <table class="table table-hover">
        <thead class="thead">
            <tr class="text-center">
                <th class="bold">ID</th>
                <th class="bold">Name</th>
                <th class="bold">Mail</th>
                <th class="bold">Phone1</th>
                <th class="bold">Address</th>
                <th class="bold">City</th>
                <th class="bold">State</th>
                <th class="bold">Edit</th>
            </tr>
        </thead>
        <tbody class="tbody">
            {% for row in response %}
            <tr class="text-center">
                <td>{{ row.id }}</td>
                <td>{{ row.nome }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.telefone1 }}</td>
                <td>{{ row.endereco }}</td>
                <td>{{ row.cidade }}</td>
                <td>{{ row.uf }}</td>
                <td><a href="{{ url_for('company_edit', id=row['id']) }}" class="input-edit"
                        onclick="return confirm('Are you sure to edit?')"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>