{% extends 'base_store.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('company_list') }}">Company</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('store_list') }}">Store</a></li>
        <li class="viewgroup-item active" aria-current="page">Company Edit</li>
    </ol>
</nav>

<section class="section-company">
    <div class="content-company">
        <h3 class="title"><i class="fa fa-edit"> {{ title }}</i></h3>
        <br>
        <form method="POST" action="/update_company">

            {% include 'layout/message_alert.html' %}

            <div class="flex-row">
                <div class="flex-col-2">
                    <label class="label">Tipo</label>
                    <select id="tipo" class="select" name="tipo">
                        <option value="{{ response.tipo }}">{{ response.tipo }}</option>
                        <option value="JURIDICA">Jurídica</option>
                        <option value="FISICA">Física</option>
                    </select>
                </div>
                <div class="flex-col-2">
                    <label class="label">Ativo</label>
                    <select id="ativo" class="select" name="ativo">
                        <option value="{{ response.ativo }}">{{ response.ativo }}</option>
                        <option value="1">[1] - SIM</option>
                        <option value="0">[0] - NÃO</option>
                    </select>
                </div>
                <div class="flex-col-7 text-right">
                    <input type="submit" class="input-submit" value="Edit Company"
                        onclick="return confirm('Are you sure to create?')">
                </div>
            </div>
            <div>
                <input type="hidden" name="id" value="{{ response.id }}">
            </div>

            {% include 'layout/form/form_people_edit.html' %}

        </form>
    </div>
</section>

{% endblock %}