{% extends 'base_store.html' %}
{% block container %}

<nav aria-label="viewgroup">
    <ol class="viewgroup">
        <li class="viewgroup-item"><a href="{{ url_for('company_list') }}">Company</a></li>
        <li class="viewgroup-item"><a href="{{ url_for('store_list') }}">Store</a></li>
        <li class="viewgroup-item active" aria-current="page">Company Register</li>
    </ol>
</nav>

<section class="section-company">
    <div class="content-company">
        <h3 class="title"><i class="fa fa-briefcase"> {{ title }}</i></h3>
        <br>
        <form method="POST" action="/create_company">

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="flex-row">
                <div class="flex-col-3">
                    {{ form.tipo.label(class="label") }}
                    {{ form.tipo(class="select") }}
                </div>
                <div class=" flex-col-9 text-right">
                    <input type="submit" class="input-submit" value="Create New Company"
                        onclick="return confirm('Are you sure to create?')">
                </div>
            </div>

            {% include 'layout/form/form_people_register.html' %}

        </form>
    </div>
</section>

{% endblock %}