<meta http-equiv="content-type" content="text/html" charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ title }}</title>
<link rel="icon" href="{{ url_for('static', filename = 'img/logo.png') }}">

<meta name="description" content="Desenvolvimento Web com Python e MySQL">
<meta name="author" content="Angelita Santos">
<meta name="keyWords" content="desenvolvimento, web, python, flask, mysql">
<meta name="classification" content="site, website">

<meta property="og:locale" content="pt_BR">
<meta property="og:type" content="website">
<meta property="og:title" content="Home - Python Flask MySQL">
<meta property="og:url" content="https://python-flask-mysql-locabike.herokuapp.com/">
<meta property="og:site_name" content="Desenvolvimento Web com Python e MySQL">